*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

/* Main body styles */
.navbar-text h1{
    font-family: 'Gruppo';
    font-weight: 500;
    color: #fff;
    padding-left: 15px;
    margin: 0;
}

.navbar-text a:link{
    text-decoration: none;
}

.navbar-dark button{
    width: 50px;
    border: 0;
}
.container-custom{
    min-height: 40vh;
    overflow: hidden;
    padding-bottom: 50px;
}

.containter-contact{
    margin-top: 40px;
    margin-bottom: 40px;
}

.cookie-buttons-cont{
    margin-top: -50px;
}

header nav .tabs {
    display: flex;
}

header nav .tabs .tab {
    display: block;
}

header nav .tabs .tab a[data-switcher] {
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.pages{
    margin-top: 8px;
    padding-left:30px;
    border-radius: 6px;
}

.pages .page {
    display: none;
}

.pages .page.is-active{
    display: block;
}

.col{
    overflow: hidden;
}

.col-custom-htl{
    color: #FFF;
    align-items: center;
    justify-content: space-between;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='2600px' width='1500px'><text x='0' y='200' fill='white' font-family='Arial' opacity='.10' font-size='116'>adventure</text></svg>")
}

@media only screen and (max-width: 600px) {
  .col-custom-htl{
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='2600px' width='1000px'><text x='0' y='200' fill='white' font-family='Arial' opacity='.10' font-size='72'>adventure</text></svg>") 
  }
      .discord {
        height: 180px;
        width: 270px!important;
    }
}

.col-custom-htl-alt{
    color: #FFF;
    align-items: center;
    justify-content: space-between;
}

.slider-heading{
    text-decoration: none;
    color: #fff;
}

.slider-heading:hover{
    text-decoration: none;
    color: royalblue;
}

.slider-subtitle{
    text-decoration: none;
    color: #fff;
}

.slider-subtitle:hover{
    text-decoration: none;
    color: #fff;
}

.col-custom-htr{
    display: flex;
    flex-basis: auto;
    margin: 0 auto;
    align-items: left;
    justify-content: space-between;
    padding-top: 20px;
}

@keyframes imageFade {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.col-custom-htr img{ 
    max-width: 100%; height: auto; 
    animation: 1s ease-out 0s 1 imageFade;
}

@keyframes imageFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

.header-img-launch {
    animation: .75s ease-out 0s 1 imageFromRight;
}

.body-custom{
    background-image: linear-gradient(145deg, #2c0444, #0d032e, #0d032e, #2c0444, #0d032e, #0d032e, #0d032e);
    min-height: 100vh;
}

.row-custom{
    padding-top: 20px;
    display: flex;
    align-items: center;
}

@keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.navbar-custom{
    animation: .5s ease-out 0s 1 slideIn;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    display:flex;
    align-items: right;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-image: url("imgs/sky-s.png");
    transition: 0.85s;
}

.navbar-custom:hover{
    background-image: url("imgs/sky-s-hover.png");
    box-shadow: 0 2px 3px 0 #0d032e, 0 2px 8px 0 #000;
}

.video-container{
  content:"";
  position: absolute;
  width: 870px; 
  height: 486px;
  background-color:rgba(10,10,10,0.8);
  z-index: 1;
  left: 8.5%;
  opacity: 0;
}

.nav-item a{
    font-weight: 600 !important;
}

.cookie-cont{
    background-color: #13071c;
    margin-top: -10px;
    border-radius: 8px;
}

.cookie-cont-main{
    padding: 20px 10px 10px 10px;
    border-radius: 8px;
    z-index: 100000;
}

.cookie-cont-2{
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .video-container:hover {
        opacity: 0;
    }
    .cookie-buttons-cont{
        margin-top: 0px;
    }
    .discord {
        width: 360px;
    }
}

.logo{
    width: 76px;
    cursor: pointer;
    margin: 5px 0px;
}

.logo:hover{
    opacity: .5;
    animation: .60s ease-out 0s 1 logorot;
}

@keyframes logorot {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }

.navbar-text:hover{
    opacity: .5;
}

.top-img{
    text-align: right;
}


@media only screen and (max-width: 600px) {
    .top-img{
        margin-top: -60px;
        margin-bottom: -170px;
    }
}

.menu-icon{
    width: 25px;
    cursor:pointer;
}
nav{
    flex: 1;
    text-align: right;
}

.navbar-custom .navbar-nav .nav-link{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    padding-left: 25px;
}

.hover-underline{
    color: #FFF;
    display: inline-block;
    position: relative;
}
  
.hover-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.6px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.20s ease-out;
}
  
  .hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

mainbtn{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 60px;
    color: #fff;
    font-family: 'Lato';
    overflow: hidden;
    perspective: 1px;
    background: linear-gradient(to right,#a296ac, #8e44ad);
}

.subhead h2 {
    color: #fff;
    padding-top: 15px;
}

/* General content */
.content-main{
    margin-top:200px;
    color: #fff;
    padding-top: 15px;
    margin-bottom:-140px;
    height: 300px;
}

.content{
    color: #fff;
    padding-top: 15px;
}


@keyframes slideInFromBelow {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.content h2{
    animation: .5s ease-out 0s 1 slideInFromBelow;
    font-family: 'Lato';
    font-size: 34px;
    padding-top: 15px;
    line-height: 42px;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.adv {
    animation: .5s ease-out 0s 1 slideInFromLeft;
    -webkit-text-stroke: .5px #fff;
    font-style: italic;
    display: inline-block;
    position: relative;
    color: #3c065e;
  }
  
.adv:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.adv:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.content h3{
    font-size: 18px;
    padding-top: 10px;
}

.col-md-6 {
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}
/* pages */
.col-custom-gm{
    border: none;
    margin-right: 25px;
}

.coverimg{
    padding-top: 20px;
}

.coverimgtitles{
    position: absolute;
    left: 75%;
    top: 10%;
}

.games-block{
    margin-bottom: 150px;
    padding-top: 10px;
    height: 380px;
    width: 200px;
}

.soc{
    opacity: 0.9;
}

.soc:hover {
    opacity: 1;
}

.socials:hover {
    opacity: 0.5;
}

@keyframes shadow {
    0%   {background-image: linear-gradient(110deg,#672d8e, #4f3b8c);}
    25%  {background-image: linear-gradient(110deg,#4f3b8c, #672d8e);}
    50%  {background-image: linear-gradient(110deg,#672d8e, #4f3b8c);}   
    75%  {background-image: linear-gradient(110deg,#4f3b8c, #672d8e);}
    100% {background-image: linear-gradient(110deg,#672d8e, #4f3b8c);}
}

.gbk{
    width: 275px;
    height: 475px;
    background-color:#0d032e73 !important;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
}

.gbk-titles{
    background-color:#0d032e73 !important;
    height: 280px;
    width: 500px;
}

.gbk:hover{
    animation-name: shadow;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear; 
    transform:scale(1.1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
}

.gbk-titles:hover{
    animation-name: shadow;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear; 
    transform:scale(1.1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
}


.tbk{
    background-color: rgba(0, 0, 0, 0.336);
    margin-bottom: 8px;
    overflow: hidden;
}

.games-sub{
    font-size:14px;
    color: #fff;
}

.games-block-titles h3{
    font-size: 24px; 
    text-decoration: none;
    color: #fff;
}

.games-block-title{
    margin-bottom: 150px;
    padding-top: 10px;
    width: 400px;
}

.cb-cont{
    width: 500px;
    margin-top: 15px;
    background-color: #672d8e;
}

.cb-cont a{
    color: #fff;
}

.cb-cont a:hover{
    color: #8a75c8;
}

.btn-link, a:link, a:hover{
    text-decoration: none !important;
}

/* Footer */
.footer-custom{
    margin-top: 8px;
    background-color: #c4a3dc73;
    color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

table, th, td {
    border: none;
}

.fab{
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: #fff;
}

.fab:hover {
    opacity: 0.5;
    text-decoration: none;
    transform:scale(1.3);
}

.chev{
    position: absolute;
    left: 60%;
    right: 60%;
    top: 130%;
    color: #fff;
}

.rounded-circle-alt{
    animation: 1.75s ease-out 0s 1 imageFade;
}

.footer-abt {
    padding-left: 25px;
}

.footer-links{
    padding-left: 25px;
    color: #fff;
}
.footer-links a{
    color: #fff;
}
.footer-links a:hover{
    color: rgba(255, 255, 255, 0.425);
}

.bot-links {
    cursor: pointer;
}
.sh{
    font-family: 'Staatliches';
    letter-spacing: 3px;
    font-size: 28px;
}

.name{
    font-size: 22px;
    font-family: 'Staatliches';
    letter-spacing: 3px;
    text-transform: uppercase;
}

.desg{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
}

@keyframes iconFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

.socicons{
    animation: 1.10s ease-out 0s 1 iconFromRight;
    padding-right: 15px;
    padding-bottom: 10px;
}

.loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:flex;
    align-items: center;
    height: 40px;
}

@keyframes loading {
    0%{
        height: 0;
    }
    50%{
        height: 35px;
    }
    100%{
        height: 0;
    }
}

.obj{
    animation: loading 0.8s infinite;
    width: 5px;
    height: 35px;
    background: #fff;
    margin: 0 3px;
}

.obj:nth-child(2){
    animation-delay: 0.1s;
}

.obj:nth-child(3){
    animation-delay: 0.2s;
}

.obj:nth-child(4){
    animation-delay: 0.3s;
}

.obj:nth-child(5){
    animation-delay: 0.4s;
}

.caption-custom {
    margin-left: -74px;
    margin-right: -16px;
    margin-bottom: -50px;
    background-image: linear-gradient(360deg,#1e0d29, #1e0d2900);
    color: #f1f1f1;
}

.c-caption{
    padding-top: 100px;
}

#sliderVideo {
    width: 1050px;
    height: 486px;
}

@media only screen and (max-width: 600px) {
  #sliderVideo {
    width: 90%;
    margin-top: -125px;
    margin-bottom: -70px;
  }
  .coverimgtitles{
      left:40%;
  }
  .cb-cont{
      width: 390px;
  }
}

@media only screen and (max-width: 400px) {
    .games-block-title{
        margin-left: -28px;
    }
    .cb-cont{
        width: 380px;
    }
  }

.overlay {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  

.gallery {
    margin-left: -16px;
    margin-right: 16px;
    width: 99%;
    height: 360px;
    text-align: center;
    border: black 3px solid;
}

.gallery:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}